/* Basic colors for testing */
/* * {
    font-size: 18px;
    font-weight: bold;
    color: white;
} */

.row {
    min-height: var(--header-height);
}

.Sidebar {
    position: absolute;
    /* background-color: aqua; */
    max-height: calc(100% - var(--header-height));
    min-height: calc(100% - var(--header-height));

    width: var(--sidebar-width);
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    opacity: 0.95;
}

.closed {
    z-index: 0;
}

.Map {
    min-height: 100%;
    max-height: 100%;
    position: relative;
}

.Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: var(--footer-height);
    min-height: var(--footer-height);
    width: 100%;
    /* background-color: red; */
    z-index: 1000;
}

.marker {
    border-radius: 15px;
    border: 1px solid #fff;
    display: inline-block;
    width: auto !important;
    height: auto !important;
    width: 30px !important;
    text-align: center;
    height: 30px !important;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}

.PreDeparted {
    background-color: DodgerBlue;
}

.OnTime {
    background-color: forestgreen;
}

.Delayed {
    background-color: OrangeRed;
}

.Completed {
    background-color: DarkGrey;
}
