.table-responsive {
    padding: 0;
    margin: 0;
}

.form-control {
    width: 80%;
}

.table-row {
    font-size: 0.8rem;
}

.table-row:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.delayed {
    background-color: var(--light-red);
}

.delayed:hover {
    background-color: var(--red-hover);
}

.dropdowns {
    font-size: 0.8rem;
    color: var(--dark-blue);
}

.rdn {
    margin: 0;
    padding: 0;
}

.mt-3 {
    font-size: smaller;
}
