.Header {
    max-height: var(--header-height);
    background-color: azure;
    overflow: hidden;
    border-bottom: 2px solid rgb(202, 202, 202);
}

/* Center content vertically */
.row > div {
    margin: auto;
}

.time,
.day-date {
    font-family: "Roboto", sans-serif;
}

.history-date {
    color: red;
}

.time {
    font-weight: bold;
    font-size: large;
}

.date-picker {
    height: 100%;
    width: 100px;
    padding: 0.4rem;

    font-size: 0.85rem;
}

.switch > span {
    font-weight: 500;
    color: darkblue;
    margin: 0 0.63rem;
}
