.Header {
    max-height: var(--header-height);
    background-color: azure;
    overflow: hidden;
    border-bottom: 2px solid rgb(202, 202, 202);
}

/* Center content vertically */
.row > div {
    margin: auto;
}

.time,
.day-date {
    font-family: "Roboto", sans-serif;
}

.time {
    font-weight: bold;
    font-size: large;
}

.date-picker {
    height: 100%;
    width: 100px;
    padding: 0.6rem;

    font-size: small;
}
